.pics {
	height:232px;
	margin:0pt;
	overflow:hidden;
	padding:0pt;
	width:232px;
}
.pics img {
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	height:200px;
	left:0pt;
	padding:15px;
	top:0pt;
	width:200px;
}

#theBSGGallery{
	position:relative;
	height:auto;
	list-style:none;
	padding:0;
	margin:0;
	border:none;
}

#theBSGGallery a{
	border:none;
	padding:0;
	margin:0;
}

#theBSGGallery li{
	border:none;
	padding:0;
	margin:0;
	height:auto;
	border:none;
}